.game{
    width: 600px;
    height: 200px;
    border: 1px solid #000;
    margin: auto;
}

@media (max-width: 600px) {
	.game{
        width: 100%;
        height: auto;
    }

    #score{
        left:85% !important;
    }
}

.dino{
    width: 50px;
    height: 50px;
    background-image: url(assets/images/t-rex.png);
    background-size: 50px 50px;
    position: relative;
    top:150px;
}

.cactus{
    width: 30px;
    height: 40px;
    position: absolute;
    top: 163px;
    left:580px;

    background-image: url(assets/images/cacti.png);
    background-size: 30px 40px;

}

.desert {
    position: relative;
    bottom: 0px;
    background-image: url(assets/images/t-rex-background.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}
  
@-webkit-keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}

h2,h5,h3{
    position: absolute;
    color: gray;
    left: 40%;
}

h6{
    text-align: center;
    color: gray;
}

h3{
    top: -5%;
}

#score{
    left:90%;
}

#highscore{
    left:2%;
}

h5{
    top:20%;
    left: 39%;
}